<div class="row pull-right"><p><%= link "+ New", to: channel_path(@conn, :new) %></p></div>

<h1>Listing Channels</h1>
<table class="table">
  <%= for channel <- @channels do %>
    <tr>
      <td><b><%= render "channel.html", channel: channel %></td>
      <td><%= link "View", to: channel_path(@conn, :show, channel.id) %></td>
    </tr>
  <% end %>
</table>
